<ion-view view-title="批量下载 airbnb 房源图片">
    <ion-content>
        <!--<ion-list>-->
        <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
        <!--</ion-item>-->
        <!--</ion-list>-->
        <form name="orderForm" ng-submit="submit()">
            <div class="card" ng-if="errorMessages">
                <div class="item item-text-wrap">
                    <div ng-bind-html="errorMessages"></div>
                </div>
            </div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">房源编号</span>
                    <input type="text" ng-model="data.houseNumber" placeholder="房源链接最后一串数字，如14047326"
                           ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">电子邮箱</span>
                    <input type="email" ng-model="data.email" placeholder="用来接收下载好的高清无码图片" ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">微信号码</span>
                    <input type="text" ng-model="data.wechat" placeholder="便于进房东群，交流经验介绍生意" ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">淘宝订单号</span>
                    <input type="text" ng-model="data.taobaoOrderId" placeholder="如果你是从淘宝上购买的" ng-required="false">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="!orderForm.$valid">
                        提交
                    </button>
                </label>
            </div>

            <div class="card">
                <div class="item item-text-wrap">
                    批量下载 airbnb 高清无码照片，从未如此简单：输入 房源编号、email 和微信号码，下载完成后的照片将发送你的指定的邮箱。
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
