<ion-view view-title="坐等图片">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="/img/me.gif">
                <h2>程序作者（微信号：jie-tian）</h2>
                <p>扫码添加微信以便拉你进入房东群</p>
            </div>
            <div class="item item-text-wrap">
                <p>好的，图片将在6小时之内发送到你的邮箱，请留意查收。记得检查垃圾邮件哦……</p>
                <p>
                    扫码加微信，方便加入群。
                </p>
                <p>
                    <img class="full-image" ng-src="/img/my-wechat.jpeg">
                </p>
            </div>
            <div class="item item-divider">
                <button class="button button-positive" ng-click="closeModal()">我知道了</button>
            </div>
        </div>
    </ion-content>
</ion-view>