<ion-view view-title="还差一步：付款">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="/img/me.gif">
                <h2>程序作者（微信号：jie-tian）</h2>
                <p>微信扫码向我转账</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="/img/wechat_pay_qr.png">
                <p>付款完成后，就可坐等接收邮件了！</p>
                <p>
                    <button class="subdued button button-positive" ng-click="paid()">付款完成</button>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
