<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="description" content="批量下载 airbnb 高清无码照片，从未如此简单：输入 房源编号、email 和微信号码，下载完成后的照片将发送你的指定的邮箱。">
    <title>批量下载 airbnb 高清无码照片</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.min.css?<%= app.version %>" rel="stylesheet">
    <link href="css/style.css?<%= app.version %>" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="virtual-js/config.js"></script>
    <script src="js/app.js?<%= app.version %>"></script>
    <script src="js/controllers.js?<%= app.version %>"></script>
</head>

<body ng-app="starter">
<ion-nav-view></ion-nav-view>
</body>
</html>
